.container {
  padding: 0;
}

.moduleCard {
  height: 100%;
}

.moduleContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.moduleIcon {
  margin-bottom: 16px;
}
